.content {
    font-family: sans-serif;
    max-width:780px;
    margin: 10px auto;
}

.page-container{
    border:solid 1px #AAAAAA;
    border-radius: 5px;
    margin: 5px;
}
.section-container{
    margin-left:30px;
}

.page-container .row:not(:last-child){
    border-bottom: dotted 1px #999999;
}

.row {
    display: flex;
    align-items: center;
    margin: 0px 8px;
    padding: 8px 10px 5px 8px;
}
.attribute {
    width:150px;
    margin-left:auto;
    text-align:center;
}
.attribute.empty{
    width:0
}
.attribute .el-tag{
    width:65px;
    text-align:center;
}

.editbox {
    display: flex;
    align-items: center;
    width:200px;
}

.page .editbox {
    margin-right:6px
}

/* init ElementUI button margin style */
.editbox .el-button+.el-button {
    margin-left: 0px;
}
.page h2 {
    width:80%;
    margin:0;
    font-size: 17px;  
}

.section h3 {
    width:80%;
    margin:0;
    font-weight: 800;
    font-size: 15px;  
}

.question h4{
    width:60%;
    margin:0;
    font-weight: 100;
    font-size: 15px;  
}

i {
    margin-right:8px;
}