.zform {
    font-family: sans-serif;
    max-width:780px;
    margin: 10px auto;
}
.page-container{
    border:solid 1px #AAAAAA;
    border-radius: 5px;
    margin: 5px;
}
.section-container{
    margin-left:30px;
}

.page-container .row:not(:last-child){
    border-bottom: dotted 1px #999999;
}

.row {
    display: flex;
    align-items: center;
    margin: 20px 10px;
}
.attribute {
    width:200px;
    margin-left:auto;
}
.attribute .el-tag{
    width:65px;
    text-align:center;
}

.editbox {
    width:100px;
}

.page h2 {
    margin:0;
    font-size: 17px;  
}

.section h3 {
    margin:0;
}

.question h4{
    margin:0;
    font-weight: 100;
}

i {
    margin-right:10px;
}